/* ==========================
「ホームへ」ボタン周辺
========================== */

/* 共通 */

footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* PC */

.home-btn {
  background-color: #ffc90d;
  color: white;
  text-decoration: none;
  /* display: inline-block; */
  opacity: 0.8;
  border-radius: 4px;
  padding: 3px 15px;
  font-size: 35px;
}

/* 共通 */

.home-btn:hover {
  opacity: 1;
}

/* PC */

/* 三毛猫と桜のアイコン */

.icon {
  margin-bottom: -3px;
  width: 35px;
}

/* ======================
スマホ用
========================*/

@media screen and (max-width: 769px) {
  .home-btn {
    /* font-size: 5vw; */
    font-size: 25px;
  }
  /* 三毛猫と桜のアイコン */
  .icon {
    margin-bottom: -0.5vw;
    /* width: 6vw; */
    width: 25px;
  }
}
