/* スマホ版 */
.header {
  background:#eee183;
  position :fixed;
  width:100%;
  top: 0;
  border-bottom: 2px solid #eee;
}
.header-title {
  text-align: left;
  line-height:10px;
  padding-top:30px;
  padding-left:30px;
  padding-bottom:2px;
  font-weight: bold;
}
.header-title span {
  color:red;
}  
.header-title p {
  text-align: center;
}

.header-right {
  color:green;
  font-weight: normal;
  padding-top:10px;
  padding-right:30px;
  font-size:15px;
  float:right;
}
.header-right span { 
  color:red;
  font-weight: bold;
}

.gnav {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  background: #eee183;
}
.gnav .nav {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.gnav .nav li {
  position: relative;
  list-style: none;
  box-sizing: border-box;
  border: 1px solid #eee;
}
.gnav .nav li a {
  display: block;
  width: 60px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 3.2;
  background: black;
  box-sizing: border-box;
  text-decoration: none;
}
.gnav .nav > li:hover > a {
  color: orange;
  background-color: #444444;
}

.main {
  background-color: black;
  margin-top:175px;
}
  
.title-img {
  text-align: center;
}
img {
  width: 90vw;
  margin-top:2px;
  padding:7px;
}


/* 病院紹介 */
.introduction {
  width: 100%;
  min-height: 200px;
  background: #fefde0;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  color:#000;
  box-sizing: border-box;
} 
#clinic-introduction {
  color:#99634b;
} 

.kotoba {color:red;}
.director {
  line-height: 5px;
  text-align:center;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;}
.kotoba2 {color:#02cd88;}
.kotoba3 {color:#026338;}
.director-intro {
  color:#026338;
  font-size :15px;
}
.img-mine {
  height:150px;
  width:115px;
}

#clinic-prices {
  text-align: left;
  color:#d72521;
}
.price-caption {
  font-size:3vw;
  text-align: right;
  line-height:8px;
  color:red
}
.price-caption2 {
  font-size:3vw;
  text-align: left;
  line-height:8px;
  color:green;
  padding-left:20px;
}
.prices {
  width: 100%;
  min-height: 200px;
  background: #fefde0;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 15px;
  color:#000;
  box-sizing: border-box;
}
.price-table {
  text-align:centr; 
}
.price-table span {
 color:red;
 font-size:80%;
} 
table {
  margin-left: auto;
  margin-right:auto;
  table-layout: fixed;
  width:100%;
}
th {background:#eee183;}

#clinic-access {
  color:#2d6d4b;
}
#clinic-access span {
  color:#dd0000;
}
.access { /* アクセス */
  width: 100%;
  min-height: 150px;
  background: #fefde0;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  color:#000;
  box-sizing: border-box;
}
.map p {
  font-size:15px;
  line-height:1vw;
}
.device {
  font-size: 12px;
  color:red;
  margin-left: 15px;
}
.map-img img {
  width:80%;
  margin-left:7%;
}
.googlemap-text {text-align:center;}
.map-btn {
  padding: 6px 15px;
  background-color: #ee0000;
  color: white;
  display: inline-block;
  opacity: 0.7;
  border-radius: 4px;
  margin-bottom: 15px;
}
.homestyle-btn{text-align:center;
}
.home-btn {
  font-size:20px;
  padding: 3px 15px;
  background-color: #00bb00;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.SP_btn {
  text-align:center;
}
.sp_btn {
  font-size:18px;
  padding: 3px 6px;
  background-color: #ff0000;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
}

.gmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.gmap iframe,
.gmap object,
.gmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.empty {
  width: 100%;
  min-height: 50px;
  background: #fefde0;
}

#clinic-introduction {
  margin-top:-180px;
  padding-top:180px;
}
#clinic-prices {
  margin-top:-180px;
  padding-top:180px;
}
#clinic-access { 
  margin-top:-180px;
  padding-top:180px;
}

.footer {
  height: 120px;
  width:100%;
  line-height:15px;
  background:#eee183;
}  
.footer-left {
  color:red;
  font-weight: bold;
  padding:12px;
  font-size:15px;
} 
.footer-right a {
  float:right;
  text-decoration: none;
  font-size:18px;
}
.facebook {
  background-color: #3b5998;
  margin-right: 30px;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.fab {
  margin-right: 5px;
}
.far {
  margin-left: 10px;
}
