body {
    font-family: Noto Sans JP, Helvetica, -apple-system, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* background: #fefde0; */
    background: #fffeef;
    margin-bottom: 0;
    margin: 0px;
}

.maxWidth900px {
    max-width: 900px;
    margin: auto;
}

.Negative_Margin {
    margin-top: -4em;
}

.introP {
    padding: 0 1em;
}

p {
    font-size: 20px;
}

.hidden {
    display: none;
}

button {
    border-width: 0px;
}

.all-open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    position: sticky;
    top: 90%;
    z-index: 0;
    pointer-events: none;
}
