/* 回転する「+」、「-」と「広げる」ボタンのスタイル */

.i_box {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.one_i:before,
.one_i:after {
    content: '';
    background-color: #000;
    border-radius: 10px;
    width: 18px;
    height: 2px;
    position: absolute;
    inset: 0;
    margin: auto;
    transform-origin: center;
}

.one_i:before {
    transform: rotate(-45deg);
}

.one_i:after {
    transform: rotate(45deg);
}

.is-active .i_box {
    transform: rotate(360deg);
}

.is-active .one_i:before {
    transform: rotate(0deg);
}

.is-active .one_i:after {
    display: none;
}

#toggle-all {
    pointer-events: auto;
    position: sticky;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -4px 5px -2px #b19017 inset;
    background: rgb(238 225 131);
    box-shadow: 2px 3px 6px #1d1d1d;
    border-radius: 30px;
    padding: 1em .7em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all .3s ease-out;
}

#toggle-all:hover {
    transform: scale(1.15, 1.15);
    background: #eeda41;
}