/* detailsã¨summary */


summary.priceSummary1 {
  color: #cdba2e;
  background: #fefde0;
}

summary.priceSummary1:hover {
  color: #ffffff;
  background: #cdba2e;
}

@media screen and (max-width: 500px) {
  tbody.show summary.priceSummary1 {
    line-height: 1.2;
    padding: 1.2em 0;
  }
}


summary:hover {
  cursor: pointer;
  transition: 0.4s;
}

details.priceDetail1 {
  background: #f7eb8a;
  /* border: solid #5B6DCD 10px; */
}

tbody.show td>details>ul {
  line-height: 1.7;
}


tbody.show .price-excl-tax,
tbody.show .price-incl-tax {
  line-height: 1.5;
}


@media screen and (max-width: 900px) {
  details.priceDetail1[open] {
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  details.priceDetail1 {
    margin: auto;
  }
}