/* 価格表内の補足アコーディオン */

.accordion {
    /* width: 200px; */
    margin: 0 auto;
}

.accordion p {
    text-align: left;
    text-indent: -1em;
    padding-left: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.menu {
    /* background: #2db87c; */
    background: #ebffb1;
    /* color: #cdba2e; */
    /* border: #000000; */
    /* text-align: center; */
    cursor: pointer;
    /* user-select: none; */
    /* line-height: 1.7; */
    /* .menuに行の高さをつけるとアコーディオンを閉じても空白が出来るので、つけてはいけない */
}

.menu:hover {
    background: #acd62e;
    transition: 0.4s;
}

.menu.is-active,
.menu:active {
    background: #b0e58c;
    transition: 0.4s;
}

tbody.show .td-hidden {
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    border: 0;

}

tbody.show .is-open .td-hidden {
    opacity: 1;
    visibility: visible;
    line-height: 1.7;
    border: solid 1px #000;
}

.contents img,
.contents .antiWorm {
    background: #dfffd5;
    /* color: #fefde0; */
    /* background: hsl(75, 100%, 90%); */
}

.hoverColorB {
    background: #fff4a8;
}

.lightgreenBG {
    background: #ebffb1;
}

.boderBottom {
    border-bottom: solid 1px;
}




/* 補足アコーディオンが必要になるまで封印 */
/* .flexA:nth-child(1):hover {
    background: #a7e67d;
    transition: 0.4s;
} */

.contents {
    background: hsl(75, 100%, 90%);
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    transition:
        line-height .2s ease-out,
        opacity .05s linear .05s,
        visibility .1s linear .1s;
}

.contents img {
    display: none;
    /* height: 0; */
}

tbody.show .is-open {
    /* tbody.show>tr>td>section>div>.contents.is-open { */
    line-height: 1.7;
    opacity: 1;
    visibility: visible;
}


/* 駆虫表の補足文のスタイル */
.padingA {
    text-align: left;
    /* text-indent: -1em; */
    font-size: 18px;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 3vw 0 3vw;
}

.padingA p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

/* PC版駆虫表 */
tbody.show .is-open .pcAnthelTable {
    /* tbody.show>tr>td>section>div>.contents.is-open>.pcAnthelTable { */
    width: 100%;
    max-width: 600px;
    margin: auto;
    line-height: 1.7;
    opacity: 1;
    visibility: visible;
    display: block;
}


/* スマホ版駆虫表 */
@media screen and (max-width: 600px) {
    tbody.show .is-open .spAnthelTable {
        /* tbody.show>tr>td>section>div>.contents.is-open>.spAnthelTable { */
        width: 100%;
        margin: auto;
        line-height: 1.7;
        opacity: 1;
        visibility: visible;
        display: block;
    }

    tbody.show .is-open .pcAnthelTable {
        display: none;
    }

    .padingA {
        /* tbody.show>tr>td>section>div>.contents.is-open { */
        font-size: 15px;
    }
}


@media screen and (max-width: 306px) {
    tbody.show dt {
        line-height: 1.5;
    }
}


/* 「手術時に耳カットを入れた場合」のスタイル */
.fontSizeB {
    font-size: 22px;
}

@media screen and (max-width: 769px) {

    .fontSizeB {
        font-size: 17px;
    }
}