/* 駆虫薬の表 */

.tableInTa {
    display: none;
}

/* tbody.contents.is-open .tableInTa {
    display: none;
} */

tbody.show .contents.is-open .tableInTa {
    display: table;
    width: 99%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: .5em;
    max-width: 700px;
}

.tategaki {
    padding: .3em 0;
    writing-mode: vertical-rl;
    align-items: center;
}

.nowrap {
    white-space: nowrap;
    width: 8em;
    padding: 0 .3em;
}

.hoverColorB {
    background: #fff4a8;
}

.hoverColorB.is-active {
    background: #b0e58c;
}