  /* ==============================
  header
  ============================== */
  
  header {
    font-size:20px;
    background: #eee183;
  }

  .header-top {
    height: 32px;
    line-height: 2;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #eee183;
    /* ↑ z-index: 10;であるが故にこの要素は親要素の背景色を受け継がないのでは？ font-sizeは受け継ぐ */
    text-align: center;
  }

  .header_empty {
    margin-top: 32px;
  }

  .header_closed-day {
    display: none;
    /* ↑ 休みの時はこれをON/OFFするだけ */
    font-weight: bolder;
    color: red;
    text-align: center;
  }

  .header-middle {
    color:green;
    text-align: center;
  }

  .header-bottom {
    display: flex;
    /* min-height: 25px; */
    /* margin-top: 32px; */
  }

  .header-bottom-left {
    width: 50%;    
    /* #eee183 */
    text-align: right;
  }

  .header-bottom-right {
    width: 50%;
    text-align: left;
  }

  @media screen and (max-width: 769px) {

    .header-bottom {
      display: block;
      font-size:17px;
    }

    .header-bottom-left {
      width: 100%;
      /* #eee183 */
      text-align: center;
    }
  
    .header-bottom-right {
      width: 100%;
      text-align: center;
    }

  }  
