  /* ==============================
  病院紹介
  ============================== */

  #introduction {
    color: #99634b;
  }

  .color_red {
    font-weight: bold;
    color: #ff0000;
  }

  /* .h4-intro {
    color: #02cd88;
    margin-block-start: 0em;
    margin-block-end: 0.8em;
  } */

  summary {
    padding: 0.3em 1em;
    background: #f1df50;
    border-radius: 20px;
  }

  summary:hover {
    cursor: pointer;
    /* background: #50f160; */
    color: #ffffff;
    background: #00c811;
    transition: 0.8s;
  }

  details {
    width: 9em;
    /* width: fit-content;にしてしまうとクリック時のアニメ消失 */
    background: #f7eb8a;
    border: solid;
    border-color: #8e8010;
    border-radius: 24px;
  }

  details:hover {
    border: solid;
    border-color: #00c811;
    transition: 0.1s;
  }

  details[open] {
    /* width: 900px; */
    /* width: 65%; */
    width: 36em;
  }

  details p {
    padding: 0 1em;
  }

  @media screen and (max-width: 900px) {

    details[open] {
      /* width: 900px; */
      width: 100%;
      /* width: 36em; */
    }
  }

  @media screen and (max-width: 769px) {
    details {
      margin: auto;
    }
  }
