  /* ==============================
  手術の流れと注意点
  ============================== */

  #procedures-notes {
    color: brown;
  }

  .h3-PN {
    color: #02cd88;
  }

  .h3-PN-red {
    color: #ff0000;
  }
