  /* ==============================
  アクセス
  ============================== */

  /* h2 アクセスの文字色 共通 */
  #access {
    color: #2d6d4b;
  }
  
  /* ◆PC 「端末によって～」のスタイル */
  .device {
    font-size: 18px;
    color: red;
    margin-left: 30px;
  }

  /* 共通 justify-content: center; は効かない*/
  /* .map-img {
    margin-left: 10%;
  } */

  /* ◆PC */
  .map-img img {
    height: 430px;
    width: 430px;
    margin-left: 10vw;
  }

  /* 共通 */
  .googlemap-text {
    text-align: center;
    /* これが無いとボタンがセンターにならない */
  }


  /* ==============================
  スマホ用
  ============================== */
  @media screen and (max-width: 769px) {

    .map-img img {
      width: 80%;
      height: 0%;
    }

    /* 「端末によって～」のスタイル */
    .device {
      font-size: 12px;
      margin-left: 15px;
    }
  }
