  /* ==============================
  ページ内ジャンプ
  ============================== */

  /* 参考 https://www.aizulab.com/blog/sticky-header-overlap/ */

  html,
  body {
    scroll-padding-top: 120px;
  }

  /* ヘッダー内のボタン */
  .header-btn {
    margin: 2px 10px 2px 10px;
    padding: 1px 0.5em 1px 0.5em;
    background-color: #886c34;
    border: solid 2px;
    border-color: #382806;
    color: white;
    display: inline-block;
    /* opacity: 0.9; */
    border-radius: 19px;
    text-decoration: none;
  }

  .header-btn:hover {
    opacity: 1;
    transition: 0.7s;
    border: solid 2px;
    border-color: #31a613;
    box-sizing: border-box;
    background-color: #008e0c;
  }



  /* ==============================
  他ページへ飛ぶボタン
  ============================== */

  .bloglink-btn {
    padding: 3px 15px 3px 10px;
    /* 原本は最後3pxだったがフォントオーサムの左にpadding10を付けているから */
    /* background-color: #edae2f; */
    background-color: #faa700;
    color: white;
    opacity: 1;
    display: inline-block;
    border: solid 2px;
    border-color: #a68d13;
    box-sizing: border-box;
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;
  }

  .bloglink-btn:hover {
    transition: 0.7s;
    background-color: #00c811;
    border-color: #077919;
    /* color: rgb(27, 35, 255); */
    /* opacity: 0.6; */
  }

  /* 「Google Mapで確認」のボタン */
  .map-btn {
    padding: 6px 15px;
    background-color: #ff0000;
    color: white;
    opacity: 0.7;
    border-radius: 4px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
  }

  /* ボタンにホバーすると透明度0.7が解除 */
  .map-btn:hover {
    opacity: 1;
    transition: 0.7s;
    background-color: #884330;
  }

  @media screen and (max-width: 500px) {
    .bloglink-btn {
      padding: 0.2em 0px;
      width: 12em;
    }
  }


  /* #introduction,#procedures-notes,#price,#TelFax,#access {
    margin-top: -120px;
    padding-top: 120px;
  }

  以下スマホだと padding が上のコンテンツと重なるのでＮＧ
  @media screen and (max-width: 769px) {

    #introduction,#procedures-notes,#price,#TelFax,#access {
      margin-top: -120px;
      padding-top: 120px;
    }

  }   */
