.frame02 {
    position: relative;
    display: block;
}

/* 画像の右下に「ご登録」のスタイル(没) */
.image-text {
    position: absolute;
    width: 3.5em;
    bottom: 1%;
    left: 80%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: -2px -2px 0 brown, 2px -2px 0 brown, -2px 2px 0 brown, 2px 2px 0 brown;
    /* white-space: nowrap; */
    letter-spacing: 2px;
}

.kankyocho a {
    margin: auto;
    width: 30%;
}

tbody.show .contents .kankyocho {
    /* line-height: 2em; */
    padding: 0;
}

tbody.show .contents.is-open .kankyocho {
    /* line-height: 2em; */
    padding: .5em 0 0;
}

.kankyocho {
    /* line-height: 0em; */
    display: flex;
    flex-direction: column;
    padding: 0;
}


/* tbody.contents.is-open .microchipImg {
    display: none;
} */

.microchipImg {
    display: none;
}

tbody.show .contents.is-open .microchipImg {
    display: block;
    width: 100%;
    /* opacity: 0.7; */
    /* transition: .3s; */
    border: #8bae91 7px double;
    /* border: #8dbf9a 7px double; */
    /* border: #625530 7px double; */
    border-radius: 10px;
}

.contents.is-open .frame02 {
    transition: .3s;
}

.contents.is-open .frame02:hover {
    /* opacity: 1; */
    transform: scale(1.05, 1.05);
}

.align_left {
    /* text-align: left; */
    padding: 0 1em;
}

hr,
tbody.contents.is-open hr {
    display: none;
}

tbody.show .contents.is-open hr {
    margin-block-start: 0em;
    margin-block-end: 0em;
    display: block;
}

@media screen and (max-width: 769px) {
    .kankyocho a {
        width: 60%;
    }

    .image-text {
        font-size: 1.5em;
    }
}