/* =======================
テキスト
======================== */

/* PC版 */

.frame {
  /* font-weight: bold; */
  width: 45vw;
  text-align: center;
  border: 3px solid #836464;
  box-sizing: border-box;
  margin: 0 auto;
}

.frameImg {
  width: 100%;
  vertical-align: bottom;
}

.frameText {
  /* font-family: "Nico Moji", "M PLUS Rounded 1c"; */
  font-weight: 100;
  text-align: center;
  color: white;
  background-color: #583405;
  padding: 0 1em;
  border-bottom: 3px solid #000000;
  font-size: 25px;
}

/* .frameText span {
  font-size: 23px;
  font-weight: bold;
} */

@media screen and (max-width: 769px) {
  /* スマホ用 */
  .frameText {
    font-size: 20px;
  }
  /* .frameText span {
    font-size: 20px;
  } */
}
@media screen and (max-width: 700px) {
  .frame {
    width: 80vw;
  }
}

@media screen and (max-width: 500px) {
  .frame {
    width: 100%;
  }
}
